@tailwind base;
@tailwind components;
@tailwind utilities;

/* Vazir (Google Font) */
@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Peyda */
@import url('./fonts/AkoladSans/AkoladSans.css');

body {
  font-family: 'AkoladSans', sans-serif;
  font-size: 16px;
  direction: rtl;
  text-align: right;
  margin: 0;
  padding: 0;
}
